*{
    margin: 0;
}
#Heading{
    text-align: center;
    color: rosybrown;
    background-color: antiquewhite;
}

main{
    background-color: bisque;
}

.navibar{
    background-color: rgb(243, 159, 4);
    max-width: auto;
    max-height: fit-content;
}

.navibar ul{
    padding: 0;
    margin: -4px;
    text-decoration: none;
}

.navibar li{
    display: flex;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
}

.navibar a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

.navibar a:hover {
    background-color: bisque;
}